.mail-container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px black;
    background-color: lightblue;
    border-radius: 8px;
    margin-bottom: 20px
}

.mailform {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}

.mailform input,
.mailform textarea {
    width: 95%;
    padding: 2.5%;
    font-size: 18px;
    border:1px solid black;
    margin-top: 5px;
    resize: vertical;
}