<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body id="home">
    <h1>Welcome!</h1>

    <p>NYC Tech Talent is a semester-long  program designed to provide qualified technical talent to local employers and to provide short-term professional opportunities to competitive New York City Undergraduates. The NYC Tech Talent Pipeline will help  Computer Science and Information Security majors at John Jay College to help you acquire the skills 
       and expertise required for advanced technical positions after graduation.  Positions include, but are not limited to, software engineer, software developer, full stack developer, front-end developer, back-end developer, mobile engineer, or any related position. The TTP program, along with the Department of Computer Science and Mathematics, conducts 
       technical and professional workshops during the fall and spring semesters.<br> Our team consists of 13 developers from John Jay College. Each person plays a different role in bringing each project  to life. Together we emphasize, define, design, prototype and test for successful completion of  projects. Come meet the team - About Me!  
    </p>
</body>
</html>