/*CSS*/
.mail-container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px black;
    background-color: lightblue;
    border-radius: 8px;
    margin-bottom: 20px
}

/*CSS for each entry option*/
.mailform {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}

/*CSS for when the boxes for texts */
.mailform input,
.mailform textarea {
    width: 95%;
    padding: 2.5%;
    font-size: 18px;
    border:1px solid black;
    margin-top: 5px;
    resize: vertical;
}

/*CSS for the button */
button[class="mailform-button"] {
    margin:0 auto;
    width: 100%;
    display: block;
    background-color: #8AC4FF;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 5px;
    padding: 2.5%
}
/*CSS for when hovering the button */
    button[class="mailform-button"]:hover {
        color: white;
    }
/*
Author: Amy A
*/
/* design the font of the body*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  /* the size of the html page*/
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  /* the layout of the card*/
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  /*
  Author: Amy A
  Card for each team member 
  */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  /* the design of the about-section*/
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #5d34a5;
    color: white;
  }
  /* the padding fo each container*/
  .container {
    padding: 0 16px;
  }
  /* the display for each container */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* the color of the tilte */
  .title {
    color: grey;
  }
  
  /* the design of the button */
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  /* the button background */
  .button:hover {
    background-color: #555;
  }
  /* the media icons display */ 
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /*
  Author: Asia G
  Sets style for linkedin and Github icons
  */
  .fab {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  }
  
  /*
  Author: Asia G
  Sets style for email icons
  */
  .fas {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  }