<!DOCTYPE html>
<html>
  {% load static%}
<!--
  Author: Asia G
  Links to online sources for icons -->
<script src="https://kit.fontawesome.com/748e0c1f07.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="{% static  'styles.css' %}">
<head>
  <!-- Author: Amy D
          Output: Adds icone for GitHub, Email and LinkedIn-->
<div class="about-section">
    <h1>Meet the developers</h1>
    <p>We wanted to share our experience for future members of our experience in being in John Jay's Tech Talent Pipeline Program, and what better way than sharing it through a website! Here are our team mates.</p>
  </div>
</head>

<body>
  <!-- Author: Amy D
          Output: Headers for each card-->
  
  <h2 style="text-align:center">Team Leads</h2>


  <!-- Author: Amy D
          Output: Card layout for each member-->
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/.jpg" alt="Christopher" style="width:100%">
        <div class="container">
          <h2><b>Christopher Thorne</b></h2>
          <p class="title">Role: Backend Django Admin</p>
          <p></p>
          
          <!-- Author: Asia G
          Input: Click
          Output: Adds icone for GitHub, Email and LinkedIn-->
          <a href="https://github.com/ChristopherThorne714" class="fab fa-github"></a>
          <a href="https://www.linkedin.com/in/christopher-thorne-645200222/" class="fab fa-linkedin"></a>
          <a href="#" class="fas fa-envelope"></a>
          <!--FIXME: Add Sang's email code here-->

        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/.jpg" alt="Asia" style="width:100%">
        <div class="container">
          <h2><b>Asia Gibson</b></h2>
          <p class="title">Role: Frontend/Lead Source Control </p>
          <p>   </p>

          <!-- Author: Asia G
          Input: Click
          Output: Adds icone for GitHub, Email and LinkedIn-->
          <a href="https://github.com/gibsonasia" class="fab fa-github"></a>
          <a href="https://www.linkedin.com/in/asiagibson/" class="fab fa-linkedin"></a>
          <a href="#" class="fas fa-envelope"></a>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="ale.PNG" alt="Alessandra" style="width:100%">
        <div class="container">
          <h2><b>Alessandra Serrano</b></h2>
          <p class="title">Role: Project Manager/Frontend </p>
          <p>   </p>
          
          <!-- Author: Asia G
          Input: Click
          Output: Adds icone for GitHub, Email and LinkedIn-->
          <a href="https://github.com/alessandra-s" class="fab fa-github"></a>
          <a href="https://www.linkedin.com/in/alessandra-serrano-1923321a4/" class="fab fa-linkedin"></a>
          <a href="#" class="fas fa-envelope"></a>
          <!--FIXME: Add Sang's email code here-->
        </div>
      </div>
    </div>
  </div>

  <h2 style="text-align:center">Team Members</h2>

<div class="row">
  
    <div class="column">
        <div class="card">
        <img src="/.jpg" alt="Amy" style="width:100%">
        <div class="container">
            <h2><b>Amy Dang</b></h2>
            <p class="title">Role: Front End and GitHub</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>

          <!-- Author: Asia G
          Input: Click
          Output: Adds icone for GitHub, Email and LinkedIn-->
          <a href="#" class="fab fa-github"></a>
          <a href="#" class="fab fa-linkedin"></a>
          <a href="#" class="fas fa-envelope"></a>
          <!--FIXME: Add Sang's email code here-->
        </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
        <img src="/.jpg" alt="Ayesha" style="width:100%">
        <div class="container">
            <h2><b>Ayesha Akhter</b></h2>
            <p class="title">Role:</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <!-- Author: Asia G
          Input: Click
          Output: Adds icone for GitHub, Email and LinkedIn-->
          <a href="https://github.com/heyayesha" class="fab fa-github"></a>
          <a href="https://linkedin.com/in/ayesha-akhter-b556601a7" class="fab fa-linkedin"></a>
          <a href="#" class="fas fa-envelope"></a>
          <!--FIXME: Add Sang's email code here-->
        </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
        <img src="/.jpg" alt="Hein" style="width:100%">
        <div class="container">
          <h2><b>Hein Htet Aung</b></h2>
          <p class="title">Role:Frontend and Commenting</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>

          <!-- Author: Asia G
          Input: Click
          Output: Adds icone for GitHub, Email and LinkedIn-->
          <a href="https://github.com/savvy-trenty" class="fab fa-github"></a>
          <a href="https://www.linkedin.com/in/hein-aung-135100106/" class="fab fa-linkedin"></a>
          <a href="#" class="fas fa-envelope"></a>
          <!--FIXME: Add Sang's email code here-->
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
        <img src="/.jpg" alt="Ibrahima" style="width:100%">
        <div class="container">
          <h2><b>Ibrahima Coulibaly</b></h2>
          <p class="title">Role:</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>

          <!-- Author: Asia G
          Input: Click
          Output: Adds icone for GitHub, Email and LinkedIn-->
          <a href="https://github.com/Ibrahima2201" class="fab fa-github"></a>
          <a href="https://www.linkedin.com/in/ibrahima-coulibaly/" class="fab fa-linkedin"></a>
          <a href="#" class="fas fa-envelope"></a>
          <!--FIXME: Add Sang's email code here-->

        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/.jpg" alt="Jaspreet" style="width:100%">
        <div class="container">
          <h2><b>Jaspreet Singh</b></h2>
          <p class="title">Role: Frontend</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>

          <!-- Author: Asia G
          Input: Click
          Output: Adds icone for GitHub, Email and LinkedIn-->
          <a href="#" class="fab fa-github"></a>
          <a href="#" class="fab fa-linkedin"></a>
          <a href="#" class="fas fa-envelope"></a>
          <!--FIXME: Add Sang's email code here-->
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="/.jpg" alt="Jonathan" style="width:100%">
      <div class="container">
        <h2><b>Jonathan Yanez</b></h2>
        <p class="title">Role:Fronted</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>

          <!-- Author: Asia G
          Input: Click
          Output: Adds icone for GitHub, Email and LinkedIn-->
          <a href="https://github.com/jonathanyanez02" class="fab fa-github"></a>
          <a href="www.linkedin.com/in/jonathan-yanez-45558114a" class="fab fa-linkedin"></a>
          <a href="#" class="fas fa-envelope"></a>
          <!--FIXME: Add Sang's email code here-->
        </div>
      </div>
    </div>
  
  <div class="column">
    <div class="card">
      <img src="/.jpg" alt="Muzaffar" style="width:100%">
      <div class="container">
          <h2><b>Muzaffar M...</b></h2>
          <p class="title">Role:</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>

          <!-- Author: Asia G
          Input: Click
          Output: Adds icone for GitHub, Email and LinkedIn-->
          <a href="https://github.com/nolimitmuzaffar" class="fab fa-github"></a>
          <a href="https://www.linkedin.com/in/muzaffarmukhitdinov/" class="fab fa-linkedin"></a>
          <a href="#" class="fas fa-envelope"></a>
          <!--FIXME: Add Sang's email code here-->

        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/.jpg" alt="SangWon" style="width:100%">
        <div class="container">
          <h2><b>SangWon Park</b></h2>
          <p class="title">Role: Frontend</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>

          <!-- Author: Asia G
          Input: Click
          Output: Adds icone for GitHub, Email and LinkedIn-->
          <a href="https://github.com/sangy1" class="fab fa-github"></a>
          <a href="https://www.linkedin.com/in/sangwon-park-885b5b193/" class="fab fa-linkedin"></a>
          <a href="#" class="fas fa-envelope"></a>
          <!--FIXME: Add Sang's email code here-->

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/.jpg" alt="Kirana" style="width:100%">
        <div class="container">
          <h2><b>Kirana Ali</b></h2>
          <p class="title">Role: Front End and General Writing</p>
          <p> </p>
          
          <!-- Author: Asia G
          Input: Click
          Output: Adds icone for GitHub, Email and LinkedIn-->
          <a href="https://github.com/kirana27" class="fab fa-github"></a>
          <a href="https://www.linkedin.com/in/kirana-ali-0b8370190" class="fab fa-linkedin"></a>
          <a href="#" class="fas fa-envelope"></a>
          <!--FIXME: Add Sang's email code here-->
        </div>
      </div>
    </div>
  </div>

</body>

<footer>
  <!--We need bread crumbs or something linking this page back to other pages-->
  <!--This is open for discussion-->
  <div class="row">
    <div class="column">
      <div class="card">
      <p><a href="/home.html"> <button class="foot-button">Home</button></a></p>
              <!--FIXME: Correct home link-->
      </div>
    </div>

    <div class="column">
      <div class="card">
      <p><a href="/blog.html"> <button class="foot-button">Blog</button></a></p>
              <!--FIXME: Correct blog link-->
      </div>
    </div>

    <div class="column">
      <div class="card">
      <p><a href="/contact-us.html"> <button class="foot-button">Contact Us</button></a></p>
              <!--FIXME: Correct contact link-->
      </div>
    </div>
  </div>

</footer>
</html>