<!DOCTYPE html>
<html>
  {% load static%}
<!--
  Author: Asia G
  Links to online sources for icons -->
<script src="https://kit.fontawesome.com/748e0c1f07.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{% static 'mailform.js'%}"></script>
<link rel="stylesheet" type="text/css" href="{% static  'styles.css' %}">
<head>
  <!-- Author: Amy D
          Output: Adds icone for GitHub, Email and LinkedIn-->
<div class="about-section">
  <button class="mailform-button" id="random">
    <a class="nav-link" style="color:white;"
    href="/"> Return Home</a> </button>


    <h1>Meet the Developers</h1>
    <!--added in quick description-->
    <p>Run the Code is a team of full-stack developers with a passion for designing and bringing ideas<br>
      to life online. We emphasize responsive design, security and scalability for dynamic websites made <br>
      to suit a client's needs. Our team consists of 13 developers from John Jay College. Each person plays<br>
       a different role in bringing each project to life.</p> 
  </div>
</head>

<body>
  <!-- Author: Amy D
          Output: Headers for each card-->
  
  <h2 style="text-align:center">Team Leads</h2>


  <!-- Author: Amy D
          Output: Card layout for each member-->
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/static/chris-t.png" alt="Christopher" style="width:100%">
        <div class="container">
          <h2><b>Christopher Thorne</b></h2>
          <p class="title">Role: Backend Django Admin</p>
          <p></p>
          
          <!-- Author: Asia G
          Input: Click
          Output: Adds icone for GitHub, Email and LinkedIn-->
          <a href="https://github.com/ChristopherThorne714" class="fab fa-github"></a>
          <a href="https://www.linkedin.com/in/christopher-thorne-645200222/" class="fab fa-linkedin"></a>
          <a href="maito:christhorne714@gmail.com" class="fas fa-envelope"></a>
          <!--FIXME: Add Sang's email code here-->

        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/static/asia.png" alt="Asia" style="width:100%">
        <div class="container">
          <h2><b>Asia Gibson</b></h2>
          <p class="title">Role: Frontend/Lead Source Control </p>
          <p>  </p>

          <!-- Author: Asia G
          Input: Click
          Output: Adds icone for GitHub, Email and LinkedIn-->
          <a href="https://github.com/gibsonasia" class="fab fa-github"></a>
          <a href="https://www.linkedin.com/in/asiagibson/" class="fab fa-linkedin"></a>
          <a href="mailto:gibsonjasia@gmail.com" class="fas fa-envelope"></a>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/static/alessandra.png" alt="Alessandra" style="width:100%">
        <div class="container">
          <h2><b>Alessandra Serrano</b></h2>
          <p class="title">Role: Project Manager/Frontend </p>
          <p> Leader focused on project management, website design and front end development</p>
          
          <!-- Author: Asia G
          Input: Click
          Output: Adds icone for GitHub, Email and LinkedIn-->
          <a href="https://github.com/alessandra-s" class="fab fa-github"></a>
          <a href="https://www.linkedin.com/in/alessandra-serrano-1923321a4/" class="fab fa-linkedin"></a>
          <a href="mailto:alessandra.serrano@jjay.cuny.edu" class="fas fa-envelope"></a>
          <!--FIXME: Add Sang's email code here-->
        </div>
      </div>
    </div>
  </div>

  <h2 style="text-align:center">Team Members</h2>

<div class="row">
  
    <div class="column">
        <div class="card">
        <img src="/static/amy.png" alt="Amy" style="width:100%">
        <div class="container">
            <h2><b>Amy Dang</b></h2>
            <p class="title">Role: Front End and GitHub</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>

          <!-- Author: Asia G
          Input: Click
          Output: Adds icone for GitHub, Email and LinkedIn-->
          <a href="#" class="fab fa-github"></a>
          <a href="#" class="fab fa-linkedin"></a>
          <a href="#" class="fas fa-envelope"></a>
          <!--FIXME: Add Sang's email code here-->
        </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
        <img src="/static/ayesha.png" alt="Ayesha" style="width:100%">
        <div class="container">
            <h2><b>Ayesha Akhter</b></h2>
            <p class="title">Role:</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <!-- Author: Asia G
          Input: Click
          Output: Adds icone for GitHub, Email and LinkedIn-->
          <a href="https://github.com/heyayesha" class="fab fa-github"></a>
          <a href="https://linkedin.com/in/ayesha-akhter-b556601a7" class="fab fa-linkedin"></a>
          <a href="mailto: ayakhter64@gmail.com" class="fas fa-envelope"></a>
          <!--FIXME: Add Sang's email code here-->
        </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
        <img src="/static/trent.png" alt="Hein" style="width:100%">
        <div class="container">
          <h2><b>Hein Htet Aung</b></h2>
          <p class="title">Role:Backend</p>
          <p></p>

          <!-- Author: Asia G
          Input: Click
          Output: Adds icone for GitHub, Email and LinkedIn-->
          <a href="https://github.com/savvy-trenty" class="fab fa-github"></a>
          <a href="https://www.linkedin.com/in/hein-aung-135100106/" class="fab fa-linkedin"></a>
          <a href="mailto: heinhtetaung257@gmail.com" class="fas fa-envelope"></a>
          <!--FIXME: Add Sang's email code here-->
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
        <img src="/static/ibrahima.png" alt="Ibrahima" style="width:100%">
        <div class="container">
          <h2><b>Ibrahima Coulibaly</b></h2>
          <p class="title">Role:</p>
          <p>GitHub / Frontend</p>

          <!-- Author: Asia G
          Input: Click
          Output: Adds icone for GitHub, Email and LinkedIn-->
          <a href="https://github.com/Ibrahima2201" class="fab fa-github"></a>
          <a href="https://www.linkedin.com/in/ibrahima-coulibaly/" class="fab fa-linkedin"></a>
          <a href="mailto:ibsoncouldy95@gmail.com" class="fas fa-envelope"></a>
          <!--FIXME: Add Sang's email code here-->

        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/static/jas.png" alt="Jaspreet" style="width:100%">
        <div class="container">
          <h2><b>Jaspreet Singh</b></h2>
          <p class="title">Role: Frontend</p>
          <p></p>

          <!-- Author: Asia G
          Input: Click
          Output: Adds icone for GitHub, Email and LinkedIn-->
          <a href="https://github.com/Jas424" class="fab fa-github"></a>
          <a href="https://www.linkedin.com/in/jaspreet-singh-3a4203227" class="fab fa-linkedin"></a>
          <a href="mailto: jonathanyanez02@gmail.com" class="fas fa-envelope"></a>
          <!--FIXME: Add Sang's email code here-->
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="/static/jonathan.png" alt="Jonathan" style="width:100%">
      <div class="container">
        <h2><b>Jonathan Yanez</b></h2>
        <p class="title">Role:Fronted</p>
        <p>Implemented design for blog site</p>

          <!-- Author: Asia G
          Input: Click
          Output: Adds icone for GitHub, Email and LinkedIn-->
          <a href="https://github.com/jonathanyanez02" class="fab fa-github"></a>
          <a href="www.linkedin.com/in/jonathan-yanez-45558114a" class="fab fa-linkedin"></a>
          <a href="#" class="fas fa-envelope"></a>
          <!--FIXME: Add Sang's email code here-->
        </div>
      </div>
    </div>
  
  <div class="column">
    <div class="card">
      <img src="/static/muzzaffar.png" alt="Muzaffar" style="width:100%">
      <div class="container">
          <h2><b>Muzaffar Mukhitdinov</b></h2>
          <p class="title">Role: Blog Writer</p>
          <p></p>

          <!-- Author: Asia G
          Input: Click
          Output: Adds icone for GitHub, Email and LinkedIn-->
          <a href="https://github.com/nolimitmuzaffar" class="fab fa-github"></a>
          <a href="https://www.linkedin.com/in/muzaffarmukhitdinov/" class="fab fa-linkedin"></a>
          <a href="mailto:muzaffarm3030@gmail.com" class="fas fa-envelope"></a>
          <!--FIXME: Add Sang's email code here-->

        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/static/sang.png" alt="SangWon" style="width:100%">
        <div class="container">
          <h2><b>SangWon Park</b></h2>
          <p class="title">Role: Frontend and Backend</p>
          <p></p>

          <!-- Author: Asia G
          Input: Click
          Output: Adds icone for GitHub, Email and LinkedIn-->
          <a href="https://github.com/sangy1" class="fab fa-github"></a>
          <a href="https://www.linkedin.com/in/sangwon-park-885b5b193/" class="fab fa-linkedin"></a>
          <a href="mailto:sangwonpark4@gmail.com" class="fas fa-envelope"></a>
          <!--FIXME: Add Sang's email code here-->

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/static/kirana.png" alt="Kirana" style="width:100%">
        <div class="container">
          <h2><b>Kirana Ali</b></h2>
          <p class="title">Role: Front End and General Writing</p>
          <p> </p>
          
          <!-- Author: Asia G
          Input: Click
          Output: Adds icone for GitHub, Email and LinkedIn-->
          <a href="https://github.com/kirana27" class="fab fa-github"></a>
          <a href="https://www.linkedin.com/in/kirana-ali-0b8370190" class="fab fa-linkedin"></a>
          <a href="mailto:ali.kirana12@gmail.com" class="fas fa-envelope"></a>
          <!--FIXME: Add Sang's email code here-->
        </div>
      </div>
    </div>
  </div>

  <!--ADDED CONTACT TO BOTTOM TO SEE IF IT WORKS WELL-->
<!--Navigation bar-->
<div class="mailHeading">
  <h1>HAVE SOME QUESTIONS?</h1>
  </div>
  <!--Mail Form-->
  <div class="mail-container">
      <form class="contact-form" action="https://formspree.io/f/mpzbwgdk" method="post">
          <div class="mailform">
              <label>Full Name:<input type="text" name="name" class="name" placeholder="Full name" required /></label>
          </div>
          <div class="mailform">
              <label>Email address:<input type="text" name="mail" class="email" placeholder="youremail@email.com" required /></label>
          </div>
          <div class="mailform">
              <label>Subject:<input type="text" name="subject" class="subject" placeholder="Subject" /></label>
          </div>
          <div class="mailform">
              <label>Message:<textarea name="message" class="message" placeholder="Message" required></textarea></label>
          </div>
              <label><button type="submit" class="mailform-button" name="submit">SEND</button></label>
      </form>
  </div>
  <div class="status">
  </div>


</body>


</html>